sudo: required

branches:
  only:
  - master

language: node_js

services:
  - docker

node_js:
  - "0.11"

before_script:
  - docker login -e="$DOCKER_EMAIL" -u="$DOCKER_USER" -p="$DOCKER_PASSWORD" https://strawpay-docker-dockerv2-local.artifactoryonline.com
  - echo $VAULT_PASSWORD > .vault-password
  - chmod 600 .vault-password
  - mkdir .ssh
  - openssl aes-256-cbc -K $encrypted_3d4195f55d98_key -iv $encrypted_3d4195f55d98_iv -in ansijet_rsa.enc -out .ssh/id_rsa -d
  - chmod 700 .ssh
  - chmod 600 .ssh/id_rsa
  
script:
  - docker build -t strawpay-docker-dockerv2-local.artifactoryonline.com/ansijet .
  - docker run -d strawpay-docker-dockerv2-local.artifactoryonline.com/ansijet  bash "-c" "service mongod start && npm run ci"
  - docker push strawpay-docker-dockerv2-local.artifactoryonline.com/ansijet

after_script:
  - rm -f .vault-password
  - rm -f .ssh
  
env:
  global:
  - secure: w+IQKYROSvOJGxygqFS2qLPAKtJriTYkVOm1cUlnkprCs/aw7ho/pxid+On+BDY+k0I/mEsj0jT3Kz9znPGQx7EdT7vLCwFZ41xi0CYKDJMlxj+gkn1c/8msYqG6E5QOsS2nhbJpRG76SuwSBMi6R1tFsWxm7kT1gxGDITaXbtcNz36w88Im1IR5U05frQDbUww8zHcXKjQuEW3RwxD+/mKyaqRWQ0CKAhpLuPnS5jrd+EWLDXmZSw3ObHf43Zqw0wpSkETGUeaxY95STPgbjGuGPq67G6P2OMfilRBOsLJUCtum84Q23KF4xY+yd5YscIrgV+U8RnxaJkThwHSeFZDq8RzUc6rCp2Ts8pRC+F40kVSZOTqkfz5R2EAOHOb+342y7jNDNV/fQF03DXH0E6pzZje2QDAdLD/t0VRlzMz5+7cT5/AbVk+oi4OlbhZOWXDC8BDm5dTWRc7uSX1Da8qvJ+0PtuNaNJ44PGmGF2Drd2jPFkgox/GrAZecvgjbeujHxwWddbBHS3Y4I59FmuExjF04S/2v/ku48RAPtiBOU5iYIu+qfk/w5mmz2p5kjfztUEm8hZ6Rw294/sxmAD9+qdRrOYRhKYbZ2OcRH5WbTMPADATXoSk1oYj1dWO7MQgS2lYQ7iEv0rx8m1kcLL4t11X8qM/IQsdFIrj1kis=
  - secure: oH6KV3kpArCNCPIvu5PvdV6wysQFCTKF7wKCjVBaae42mBHVzBf3kV3ytAPmWokQw0U3hRvjgzKYsUhudP24Zc+NRbOk0jG6hauN/uOS87kMeChM81NDppjQ0WB5T9ydTSlIOeS3L5m3pby7uZOUi8+w9EoDHCVx8lTvHBpX+cTLGkAMLZWaRTXl9yhIJ8CsMJGArBgYjF99R3dnzNx5lYHVVdmHC32SCfgHnGvvuLKLnEd/kPYzNJUMxWEVW+1nIFu3zYuyIz6apZ2wZjNmpp0ILCEBBoLj87TDjCXh8ZLnBySv8GL9U06084lPTtWGOqPe5mb6pHXHXlifggOZTV3CUuP9P8vVL1ZIgrdokSii0J4/HlbE5Ft7t9ce9Wji+Wd18HPJEXyD7HW1fYgPt/fokI2afthR8FBqmrnfanro8o9GSTao57uvTOWCS6LQpvWCKCeFX/y9wmUtLjb+RxIHLK0Uc/2yaWxnlKWo6iV4Yt/nP+8Z3mg0uPbv7meIFGmgTL1ySIvFnidu2QhW6EC4+jHVAGw1d8f+V/8Y7E/yw+JEG1WX3MGOKNY+h00OjOgl2O9dlKriZjZd1MivH5zQR6tY4JDE/rnkP581cO/LPBAQx+uEkGMVWuklXumtSK+kUMMy9iP64jMVaP57VOu5Kx2kgMrmF+DBmhJC9Pk=
  - secure: j9kZVSP3jRKjg5hULlVgBQWQo80TUpuHg8Ru6jIZelsecyNuvhbkRclLAM8h8Ns7eMdKcywlKzwdPVVfByuOURPyFgJmIBANmzwbSFZebvZIVmUWe5eOzRT0JEKSSAYqahub0tCWM5ldIMpeHpcQQXsKBaWhxgZLm1VmTPH1EiC5WVJXjAaEVxoyjXHjOIzUiLDBpUo5PDNNagS4fiKwQ6OlF/+xC0NAVMCmcMNhE7uZL8AL3xUVOE5yUPV1yKvXZJS/bfq96NDsl2dNfWH8lfriDQI6nN+ZSxnb/cZcLeWNXqa4qegGTURAg6msoBJVFZ8bPzg4myqdjRV7yh/xXIa6vX9Vc+7XCYWEph0zWuS0E2eANa4o7RW2r+v4CFhWa0n6d31nt0hVG0mZPZXsYm5O9gYI+tShqjzChkYb8DLfWRaJpZKFe7t/Ta3FPU3BA75wGWexfe4FXZ/LOLdqsZZfdNYB2oXqJdb1cPYw3jtVNggAR1KEUA/qidtFb16MNBpPlm7mF9qUKNIORjm0PF9+yaRRk7QY0hirVGoPOno+mw0MrCYHM2LITeXC9FsjFb/iR729DS64ijfoURxaKVejBSQ6S247A/rCtHuQuoUpPrTwxLrYlmuP6xGTZgvGaYEuNAcbFR3rkkirS3xNJnJ38qaGc0+4fdejFkym8TY=
  - secure: w9HK+blFBEUvygXYhE23Lc1haobhSxoXMGyaqjSoa+QeF1yDwmYacbkQGNoR2p4nKNV9XsIEpjTp5GAcYqsx6ScJlQZjD56FXhPYTzuDOcrUxvJ7kcJE94nUP84CmCfG+xFx5D1HYCCz4a0mCmHZSg/n4a7WAvmNjlx8s/EYj8wmlOD5h0qOyPeXTCaBR5ITdazsWyza7/SHpPdv05WLEcUJNIFgvDmCg3Hf6H7DzE2Tpn7wguTzoh0Y9+w2h2X98w7FNgVmURK7qAh7UufMUoyk9Wtkj04wXVVnnInIxdLvubdmQcCFNK9vEg+KlBfQ+nvlMfc999IjBmvVCd8fDA4yaicW/kLCzW8wkFMUP/ol8YiMsOP0xRmh/nH1EtACTk+JVDBQI2rFjhO2cP3MydHGmQSupvziCoWoO99YPr1lXHZwTJs8z9qq4+wts8CyTTlJBN4D5oaUaUqtn7fM3/M7bYrg8BWu71bj+jYrLyZiSW6dfiG428hiBjRgcXNWqAbNA6XtejqP+HiCPJp+WUKlbDcFuUMi63jX/EIybQy2H1wvsSRAbkNzbyItA/cwor7Mi8Lczk1bQlwNQqgLO8a00bA5dPljCrHUVfZnNglW+yxDhQgCwv0+U2L+vYXlvFSRZPr1tHth9yiBczX2cXxNTkouaHTPkVn+6UUjUaY=

notifications:
  email:
  - zac@strawpay.com
